body{
    background-color:#F4F7F6;
}
.containerProd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.title{
    font-size: 2rem;
}

.content{
    font-size: 1.5rem;
}


